! black
*.color0:       #050505
*.color8:       #ffffff

! red
*.color1:       #fa2020
*.color9:       #fb6464

! green
*.color2:       #66cc99
*.color10:      #99ffcc

! yellow
*.color3:       #ff8000
*.color11:      #ff9225

! blue
*.color4:       #6699cc
*.color12:      #99ccff

! magenta
*.color5:       #f953a6
*.color13:      #f969b1

! cyan
*.color6:       #66cccc
*.color14:      #99ffff

! white
*.color7:       #ffffff
*.color15:      #ffffff
